@import 'animations.sass'
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth
    
body
    position: relative
    font-family: "Montserrat", sans-serif
    // display: flex
    // flex-direction: column
    // justify-content: center
    // align-items: center
    // background-color: whitesmoke

.scroll-fix::before // scroll-fix for nav
    content: ''
    display: block
    height: 100px
    margin-top: -30px

.underline
    width: 10%
    height: 1px
    margin: 5px auto
    background-color: whitesmoke
    text-shadow: 0px 0px 2px black

.boldSentence
    color: #567bbe
    text-shadow: 0px 0px 1px #567bbe
    animation: boldSentence 2s

.bl
    background-color: black
    margin-bottom: 15px

.hero-shadow
    position: absolute
    top: 0
    width: 100%
    height: 100%
    // background-color: black
    z-index: -1
    background-color:  rgba(0, 0, 0, 0.5)

.nav-bar
    display: flex
    position: sticky
    top: 0
    width: 100%
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 15px
    background-color: #07070773
    z-index: 100

    .menu-list
        display: flex
        flex-direction: row
        list-style-type: none

        li
            // padding: 10px

            a
                padding: 10px
                color: white
                font-weight: bold
                text-decoration: none
                font-size: 15px
                text-transform: uppercase


.header
    position: relative
    top: -49px
    display: flex
    flex-direction: column
    align-items: center
    background-image: url(/imgs/header.jpg)
    background-size: cover
    background-position: 50% 25%
    background-attachment: fixed
    height: 100vh
    padding-top: 20px
    padding-bottom: 40px
    z-index: 10
    // overflow: hidden

    .title
        font-size: 50px
        text-align: center
        padding: 0px 20px 5px 20px
        margin: 0px 5px 10px 5px
        text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.253)
        text-transform: uppercase
        letter-spacing: 2px
        background-image: url(/imgs/mountain.jpg)
        background-position: center
        background-size: cover
        background-clip: text
        // background-size: 50%
        --webkit-background-clip: text
        color: transparent
        white-space: pre-wrap
        display: block
        animation: backgroundHeaderColor 2.5s

    .upperTitle
        margin: 18% 5px 0px 5px
        padding: 20px 20px 5px 20px

    .underline
        width: 10%
        height: 1px
        margin: 5px auto
        background-color: whitesmoke
        text-shadow: 0px 0px 2px black

    .subtitle
        font-size: 30px
        text-align: center
        padding: 5px 30px 0 30px
        color: #ffffffc5
        text-shadow: 2px 2px 5px black

    .bouncingArrow
        display: block
        position: absolute
        bottom: 25px
        font-size: 20px
        left: 50%
        transform: translate(-50%)
        color: #65a2ff
        animation: bounce 2s infinite

.aboutMe, .projects
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: -49px
        height: 100%
        overflow: hidden
        background-color: #00081a

        .descriptionWrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: 465px

            .paragraphsWrapper
                margin-bottom: 50px

                .authorName
                    // color: #414141
                    color: whitesmoke
                    margin-top: 60px
                    margin-bottom: 10px
                    font-size: 36px
                    font-weight: bold
                    text-transform: uppercase
                    letter-spacing: -2px
                    padding: 5px
                    text-align: center

                .authorDescription
                    color: whitesmoke
                    text-align: justify
                    padding: 10px 20px 0px 20px
                    letter-spacing: 1px

                .second
                    // width: 62%
                    text-align: left

        .personalData
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-around
            border: 2px solid black
            border-radius: 10px
            box-shadow: 2px 2px 5px black
            background-color: #173a8550
            margin-top: 25px
            margin-bottom: 30px
            height: 200px

            .leftSide, .rightSide
                padding: 10px
                
                ul
                    list-style-type: none
                    padding: 10px
                    width: 100%


            .leftSide

                .titleList
                    font-weight: bold
                    text-transform: uppercase
                    color:#567bbe

                li
                    color: whitesmoke

            .rightSide
                display: flex
                justify-content: flex-end
                padding: 0

                .photo
                    position: relative
                    padding: 0
                    margin: 0
                    width: 150px
                    display: flex
                    justify-content: flex-end


                    img
                        position: relative
                        top: -54px
                        left: 35px
                        padding: 0 !important
                        margin: 0
                        height: 250px

.projects
    top: 0
    margin: 0
    height: 100vh
    background-image: url(/imgs/background1.jpg)
    background-size: cover
    background-position: bottom
    background-attachment: fixed
    z-index: 10

    

