@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes backgroundHeaderColor {
  0% {
    color: white;
  }
  100% {
    background-image: url(/imgs/mountain.jpg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.scroll-fix::before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -30px;
}

.underline {
  width: 10%;
  height: 1px;
  margin: 5px auto;
  background-color: whitesmoke;
  text-shadow: 0px 0px 2px black;
}

.boldSentence {
  color: #96abd3;
  text-shadow: 0px 0px 1px #96abd3;
}

.bl {
  margin-bottom: 15px;
}

.hero-shadow, .hero-shadowSecond {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-shadowSecond {
  background-color: rgba(0, 29, 73, 0.5);
}

.nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(7, 7, 7, 0.4509803922);
  z-index: 100;
}
.nav-bar .menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav-bar .menu-list li a {
  padding: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/imgs/header.jpg);
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 40px;
  z-index: 10;
}
.header .title {
  font-size: 50px;
  text-align: center;
  padding: 0px 20px 5px 20px;
  margin: 0px 5px 10px 5px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.253);
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: url(/imgs/mountain.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
  white-space: pre-wrap;
  display: block;
  animation: backgroundHeaderColor 2.5s;
}
.header .upperTitle {
  margin: 18% 5px 0px 5px;
  padding: 20px 20px 5px 20px;
}
.header .underline {
  width: 10%;
  height: 1px;
  margin: 5px auto;
  background-color: whitesmoke;
  text-shadow: 0px 0px 2px black;
}
.header .subtitle {
  font-size: 30px;
  text-align: center;
  padding: 5px 30px 0 30px;
  color: rgba(255, 255, 255, 0.7725490196);
  text-shadow: 2px 2px 5px black;
}
.header .bouncingArrow {
  display: block;
  position: absolute;
  bottom: 25px;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%);
  color: #65a2ff;
  animation: bounce 2s infinite;
}

.aboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height: 100%;
  overflow: hidden;
  background-color: #00081a;
  z-index: 1;
}
.aboutMe .hero-shadow {
  background-color: rgba(0, 0, 0, 0.5);
}
.aboutMe .descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 465px;
}
.aboutMe .descriptionWrapper .paragraphsWrapper {
  margin-bottom: 50px;
}
.aboutMe .descriptionWrapper .paragraphsWrapper .headerTitle {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding: 10px;
  text-align: center;
}
.aboutMe .descriptionWrapper .paragraphsWrapper .authorDescription {
  color: whitesmoke;
  text-align: justify;
  padding: 10px 20px 0px 20px;
  letter-spacing: 1px;
  line-height: 28px;
}
.aboutMe .descriptionWrapper .photo {
  position: relative;
  background-image: url(/imgs/profile2.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px grey;
  margin-bottom: 15px;
  overflow: hidden;
  z-index: 1;
}
.aboutMe .personalTitle {
  color: whitesmoke;
  text-align: center;
  margin: 0px 0px -40px 0px;
  background-color: #00081a;
  text-transform: uppercase;
  padding: 5px;
  z-index: 10;
}
.aboutMe .personalData {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: rgba(21, 45, 112, 0);
  margin-top: 25px;
  margin-bottom: 30px;
  height: 200px;
}
.aboutMe .personalData .wingSidesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.aboutMe .personalData .wingSidesWrapper .leftSide, .aboutMe .personalData .wingSidesWrapper .rightSide {
  padding: 10px;
}
.aboutMe .personalData .wingSidesWrapper .leftSide ul, .aboutMe .personalData .wingSidesWrapper .rightSide ul {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}
.aboutMe .personalData .wingSidesWrapper .leftSide .titleList, .aboutMe .personalData .wingSidesWrapper .rightSide .titleList {
  font-weight: bold;
  text-transform: uppercase;
  color: #96abd3;
}
.aboutMe .personalData .wingSidesWrapper .leftSide li, .aboutMe .personalData .wingSidesWrapper .rightSide li {
  color: whitesmoke;
}
.aboutMe .personalData .bottomSide {
  padding: 0px 10px;
}
.aboutMe .personalData .bottomSide ul {
  list-style-type: none;
  padding: 0px 10px;
  width: 100%;
}
.aboutMe .personalData .bottomSide .titleList {
  font-weight: bold;
  text-transform: uppercase;
  color: #96abd3;
}
.aboutMe .personalData .bottomSide li {
  color: whitesmoke;
}

.softSkills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  top: 0;
  padding: 20px;
  height: 100%;
  background-color: #000a22;
}
.softSkills .skill {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  padding: 20px 5px;
  max-width: 465px;
  margin: 0 auto;
}
.softSkills .skill .skillTitle {
  padding: 20px 10px;
}
.softSkills .skill .skillIcon {
  font-size: 75px;
  color: #96abd3;
}
.softSkills .skill .skillDescription {
  text-align: center;
  padding: 5px 20px 5px 20px;
  letter-spacing: 0px;
  line-height: 28px;
}

.projects {
  position: relative;
  padding: 30px 20px;
  background-color: #000c2e;
  background-image: url(/imgs/projectsbackground.jpg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  z-index: 1;
}
.projects .hero-shadow {
  background-color: rgba(0, 8, 29, 0.801);
}
.projects .card {
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.projects .card .techTitle {
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-size: 32px;
}
.projects .card .projectGif {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 280px;
  height: 400px;
  margin: 0 auto;
  z-index: 1;
  background: royalblue;
  border-radius: 10px;
  background-image: url(/imgs/sportowa.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.projects .card .projectGif .techList {
  list-style-type: none;
}
.projects .card .projectGif .techList .techEl {
  padding: 10px;
  text-align: center;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
}
.projects .card .projectGif .techList .frontendEl {
  color: #f3ec91;
}
.projects .card .projectGif .techList .frontendEl:first-child {
  color: #f3c591;
}
.projects .card .projectGif .techList .testEl {
  color: #91c7f3;
}
.projects .card .projectGif .techList .testEl:first-child {
  color: #f39191;
}
.projects .card .projectGif .techList .testEl:last-child {
  color: #b8f391;
}
.projects .card .projectGif .hero-shadow {
  background: rgb(9, 9, 121);
  background: linear-gradient(0deg, rgba(0, 12, 46, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
  border-radius: 8px;
}
.projects .card .testProject {
  background-image: url(/imgs/sql.gif);
  background-position: top;
}
.projects .card .techDescription {
  text-align: left;
  padding: 15px;
  margin: 0 auto;
  letter-spacing: 0px;
  line-height: 28px;
  max-width: 280px;
  background-color: rgba(0, 12, 46, 0.9);
  border-bottom-left-radius: 10px;
}

.certs {
  position: relative;
  background-color: #000d2b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
  color: whitesmoke;
  z-index: 1;
}
.certs .certContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 465px;
  margin: 30px auto;
}
.certs .certContainer .logo {
  height: 100px;
  margin: 0 auto;
}
.certs .certContainer .certTitle {
  text-align: center;
  padding: 30px 10px 0px 10px;
}
.certs .certContainer .certDesc {
  text-align: center;
  padding: 5px 20px 5px 20px;
  margin: 20px auto 10px;
  letter-spacing: 0px;
  line-height: 28px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #1f1d1d;
  background-color: #00081a;
  margin: 0;
  color: white;
}
.footer .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}
.footer .wrapper .contact, .footer .wrapper .quicklinks {
  margin-top: 30px;
}
.footer .wrapper .contact .title, .footer .wrapper .quicklinks .title {
  text-align: center;
}
.footer .wrapper .contact .linklist, .footer .wrapper .quicklinks .linklist {
  list-style-type: none;
  text-align: center;
}
.footer .wrapper .contact .linklist .quickLink, .footer .wrapper .quicklinks .linklist .quickLink {
  padding: 10px;
}
.footer .wrapper .contact .mail, .footer .wrapper .quicklinks .mail {
  padding: 10px;
}
.footer .wrapper .contact .icons, .footer .wrapper .quicklinks .icons {
  text-align: center;
  margin-top: 20px;
}
.footer .wrapper .contact .icons .icon, .footer .wrapper .quicklinks .icons .icon {
  margin: 0 auto;
  padding: 20px;
}
.footer .wrapper .contact .icons .icon .socialIcon, .footer .wrapper .quicklinks .icons .icon .socialIcon {
  font-size: 38px;
}
.footer .copyright {
  border-top: 1px solid whitesmoke;
  padding-top: 30px;
  margin: 15px 0px;
}/*# sourceMappingURL=style.css.map */