@import 'animations.sass'
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth
    
body
    position: relative
    font-family: "Montserrat", sans-serif

// for all classes

.scroll-fix::before // scr3oll-fix for nav
    content: ''
    display: block
    height: 100px
    margin-top: -30px

.underline
    width: 10%
    max-width: 100px
    height: 1px
    margin: 5px auto
    background-color: whitesmoke
    text-shadow: 0px 0px 2px black

.boldSentence
    font-weight: bold

.bl
    margin-bottom: 15px

.hero-shadow
    position: absolute
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    background-color: rgba(0, 29, 73, 0.5)

.headerTitle
    color: whitesmoke
    margin-top: 30px
    margin-bottom: 10px
    font-size: 36px
    font-weight: bold
    text-transform: uppercase
    letter-spacing: -2px
    padding: 10px
    text-align: center

a:not(.sportowaKuzniaLink)
    text-decoration: none
    color: #96abd3
    transition: color 0.3s

a:hover:not(.sportowaKuzniaLink)
    color: gold

// main structure

.header
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    padding-top: 20px
    padding-bottom: 40px
    z-index: 10
    background-image: url(/imgs/header.jpg)
    background-size: cover
    background-position: 50% 25%
    background-attachment: fixed

    .title
        display: block
        font-size: 50px
        text-align: center
        padding: 0px 20px 5px 20px
        margin: 0px 5px 10px 5px
        text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.253)
        text-transform: uppercase
        letter-spacing: 2px
        white-space: pre-wrap
        background-image: url(/imgs/mountain.jpg)
        background-position: center
        background-size: cover
        background-clip: text
        background-attachment: fixed
        --webkit-background-clip: text
        color: transparent
        animation: backgroundHeaderColor 2.5s

    .upperTitle
        margin: 0 5px 0px 5px
        padding: 20px 20px 5px 20px

    .underline
        width: 10%
        height: 1px
        margin: 5px auto
        background-color: whitesmoke
        text-shadow: 0px 0px 2px black

    .subtitle
        font-size: 30px
        text-align: center
        padding: 5px 30px 0 30px
        color: #ffffffc5
        text-shadow: 2px 2px 5px black

    .bouncingArrow
        display: block
        position: absolute
        bottom: 25px
        font-size: 35px
        left: 50%
        transform: translate(-50%)
        color: #65a2ff

.aboutMe
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 30px
    height: 100%
    overflow: hidden
    z-index: 1
    background-color: #00081a

    .hero-shadow
        background-color: rgba(0, 0, 0, 0.5)

    .descriptionWrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100%
        // width: 100%
        max-width: 700px

        .paragraphsWrapper
            margin-bottom: 50px

            .hero-shadow
                display: none

            .authorDescription
                color: whitesmoke
                text-align: justify
                padding: 10px 20px 0px 20px
                letter-spacing: 1px
                line-height: 28px


    .personalData
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        margin-bottom: 30px
        padding: 20px 0

        font-size: 16px

        .photo
            position: relative
            background-image: url(/imgs/profile2.jpg)
            background-size: cover
            width: 250px
            height: 250px
            border-radius: 50%
            box-shadow: 0px 0px 10px whitesmoke
            margin-bottom: 15px
            overflow: hidden
            z-index: 1
            margin: 10px auto 30px
          
        .personalTitle
            // max-width: 300px
            color: whitesmoke
            text-align: center
            margin: 0px auto -26px auto
            background-color: #00081a
            text-transform: uppercase
            padding: 5px
            z-index: 10

        .box
            display: flex
            flex-direction: column
            border: 2px solid #d3d3d3
            border-radius: 10px
            box-shadow: 2px 2px 5px black
            background-color: #152d7000
            padding: 20px
            margin: 5px


            .wingSidesWrapper
                display: flex
                flex-direction: row
                justify-content: space-around

                .leftSide, .rightSide
                    padding-left: 10px
                    padding-right: 10px
                    
                    ul
                        list-style-type: none
                        padding: 10px
                        // width: 100%

                    .titleList
                        font-weight: bold
                        text-transform: uppercase
                        color:#96abd3

                    li
                        color: whitesmoke
                        

            .bottomSide
                padding: 0px 10px
                
                ul
                    list-style-type: none
                    padding: 0px 10px
                    // width: 100%

                .titleList
                    font-weight: bold
                    text-transform: uppercase
                    color:#96abd3

                li
                    color: whitesmoke


.softSkills, .certs
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-around
    align-content: center
    top: 0
    padding: 20px
    height: 100%
    background-color: #000a22

    .skill
        position: relative
        opacity: 0
        display: block
        text-align: center
        color: whitesmoke
        padding: 30px 5px
        max-width: 465px
        margin: 0 auto
        cursor: pointer
        transition: 1s

        h3
            text-transform: uppercase

        .skillTitle
            padding: 20px 10px

        .skillIcon
            font-size: 75px
            color: #96abd3

        .skillDescription
            text-align: center
            padding: 5px 20px 5px 20px
            letter-spacing: 0px
            line-height: 28px
            transition: .3s

    .animate__zoomIn
        opacity: 1



            
.projects
    position: relative
    padding: 30px 20px
    background-color: #000c2e
    background-image: url(/imgs/projectsbackground.jpg)
    background-size: cover
    background-position: left
    background-attachment: fixed
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    color: whitesmoke
    z-index: 1

    .hero-shadow
        background-color: rgba(0, 8, 29, 0.85)

    .techWrapper
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: stretch

        .sportowaKuzniaLink
            text-decoration: none
            color: whitesmoke
            transition: transform 0.3s

        .sportowaKuzniaLink:hover
            transform: scale(1.2)

        .sportowaKuzniaLink:hover .techDescription, .sportowaKuzniaLink:hover .techTitle
            color: gold

        .card
            margin-top: 30px
            margin-bottom: 30px
            padding: 10px
            transition: opacity 1s

            .techTitle
                text-align: center
                padding: 20px 10px 10px 10px
                font-size: 32px
                text-transform: uppercase
                transition: color 0.3s

            .projectGif
                position: relative
                display: flex
                flex-direction: column
                justify-content: flex-end
                align-items: center
                max-width: 350px
                height: 400px
                margin: 0 auto
                z-index: 1
                background: royalblue
                border-radius: 10px

                background-image: url(/imgs/sportowa.gif)
                background-size: cover
                background-repeat: no-repeat
                background-position: bottom

                .techList
                    list-style-type: none

                    .techEl
                        padding: 10px
                        text-align: center
                        font-size: 32px
                        text-shadow: 2px 2px 5px black

                    .frontendEl
                        color: #f3ec91 

                    .frontendEl:first-child
                        color: #f3c591 

                    .testEl
                        color: #91c7f3 

                    .testEl:first-child
                        color: #f39191 

                    .testEl:last-child
                        color: #b8f391 



                .hero-shadow
                    background: rgb(9,9,121)
                    background: linear-gradient(0deg, rgba(0, 12, 46, 0.9) 30%, rgba(0,0,0,0) 100%)
                    border-radius: 8px

            .testProject
                background-image: url(/imgs/sql.gif)
                background-position: top

            .techDescription
                text-align: left
                padding: 15px 15px 15px 15px
                margin: 0 auto
                letter-spacing: 0px
                line-height: 28px
                max-width: 350px
                background-color: rgba(0, 12, 46, 0.9)
                border-bottom-left-radius: 10px
                color: rgb(214, 214, 214)
                transition: color 0.3s

        .testing
            transition-delay: 1s
            animation-delay: 1s

        .animate__slideInLeft
            opacity: 1

        .animate__slideInRight
            opacity: 1

    .techSummary
        text-align: center
        font-size: 20px

.certs
    background-color: #000d2b
    color: whitesmoke

    .certContainer
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: stretch
        max-width: 465px
        margin: 0px auto
        opacity: 0
        padding: 30px 0

        .logo
            height: 100px
            margin: 0 auto

        .certTitle
            text-align: center
            padding: 30px 10px 0px 10px

        .certDesc
            text-align: center
            padding: 5px 20px 5px 20px
            margin: 20px auto 10px
            letter-spacing: 0px
            line-height: 28px

    .animate__zoomIn
        opacity: 1



.footer
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    padding: 10px
    background-color: #00081a
    margin: 0
    color: white

    .wrapper
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        margin-bottom: 30px

        .contact, .quicklinks
            margin-top: 30px

            .title
                text-align: center
                padding: 15px


            .linklist
                list-style-type: none
                text-align: center

                .quickLink
                    padding: 10px
            
            .mail
                padding: 10px

            .icons
                text-align: center
                margin-top: 20px

                .icon
                    margin: 0 auto
                    padding: 20px

                    .socialIcon
                        font-size: 38px
                
    .copyright
        border-top: 1px solid whitesmoke
        padding-top: 30px
        margin: 15px 0px

@media screen and ( min-width:  420px)

    .box
        font-size: 22px
    